body {
  display: flex;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.header-logo {
  height: 10vmin;
}

.header-text {
  margin-left: 1rem;
}

.section {
  flex: 1;
}

.user-register-section {
  width: 30%;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  .user-register-section {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .user-register-section {
    width: 80%;
  }
}

.user-data-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-data {
  padding: 0 1rem;
}

.user-avatar {
  padding: 1rem 0 0 1rem;
}

@media only screen and (max-width: 600px) {
  .user-data-section {
    flex-direction: column;
  }
}

.footer{
  /* display: flex; */
  /* margin: 1rem 1rem 1rem 0; */
  margin-right: 30px;
  /* padding: 1rem; */
  /* padding: 20px; */
  background-color: #f5e1fd;
  /* justify-content: center; */
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100vw;
  max-width: 100%;
}
